<h1>Listing flow_types</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flow_types.each do |flow_type| %>
  <tr>
    <td><%= flow_type.code %></td>
    <td><%= flow_type.name %></td>
    <td><%= link_to 'Show', flow_type %></td>
    <td><% if can? :manage, flow_type %><%= link_to 'Edit', edit_flow_type_path(flow_type) %><%end%></td>
    <td><% if can? :manage, flow_type %><%= link_to 'Destroy', flow_type, method: :delete, data: { confirm: 'Are you sure?' } %><%end%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flow type', new_flow_type_path %>
