<h1>Listing test_case_flows</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @test_case.title %>
</p>

<p>
  <b>Desc:</b>
  <%= @test_case.desc %>
</p>

<p>
  <b>User:</b>
  <%= @test_case.user_id %>
</p>



<div id="new_test_flow">
 <div>
    <label>步骤</label>
    <label style="margin-left:160px"> 动作类型</label>
    <label style="margin-left:60px"> 元素定位</label>
    <label style="margin-left:180px">  数据类型</label>
    <label  style="margin-left:160px"> 数据</label>
    <label  style="margin-left:160px"> 添加</label>
  </div>
 <div>
    <%= form_for(@test_case_flow, :remote => true) do |f| %>
    <%= f.text_field :test_case_id,:type=>'hidden' %>
    <%= f.number_field :flow_seq,:readonly=>'readonly' %>
    <%= f.select :flow_type_id, FlowType.find(:all).collect {|p| [ p.name, p.id ] } %>
    <%= f.text_field :flow_location %>
    <%= f.select :flow_date_type_id, FlowDateType.find(:all).collect {|p| [ p.name, p.id ] } %>
    <%= f.text_area :flow_date,:rows=>1,:style=>"margin-top:6px;margin-bottom:-6px" %>
    <%= f.submit :保存 %>
    <% end %>
 </div>
  </div>
<%= link_to '完成', test_cases_path %>
<br />
