<h1>Listing test_plan_cases</h1>

<table>
  <tr>
    <th>Test case</th>
    <th>Test plan</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_plan_cases.each do |test_plan_case| %>
  <tr>
    <td><%= test_plan_case.test_case_id %></td>
    <td><%= test_plan_case.test_plan_id %></td>
    <td><%= link_to 'Show', test_plan_case %></td>
    <td><%= link_to 'Edit', edit_test_plan_case_path(test_plan_case) %></td>
    <td><%= link_to 'Destroy', test_plan_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test plan case', new_test_plan_case_path %>
