<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @test_case.title %>
</p>

<p>
  <b>Desc:</b>
  <%= @test_case.desc %>
</p>

<p>
  <b>User:</b>
  <%= @test_case.user_id %>
</p>


<%= link_to 'Edit', edit_test_case_path(@test_case) %> |
<%= link_to 'Back', test_cases_path %>
