<h1>测试计划</h1>
    <form action='/test_plans', method='get'>
                  
                   <div style="float:left">
                    <div style="float:left">
                      根据用户查找:
              <select id="user_id" name="user_id">
              <option value="">--请选择用户--</option>
              <%User.all.collect {|p| [ p.email, p.id ]}.each do |k,v|%>
               <option value="<%=v%>" <%= "selected" if params[:user_id] ==v.to_s %>><%=k%></option>
              <%end%>
             
              </select>

                    </div>
                    <div style="float:left">
                       根据标题查找:
                     <input type="text" name = "title" value="<%=params[:title]%>">
                     <input type="submit" class="btn btn-green big" value="提交">
                    </div>
                   </div>
  </form>
  <br>
    <br>
  <div style="float:left">
                   <%= link_to '创建用例', new_test_case_path %>
  </div>
  <br>
    <br>
<table  border="1" >
  <tr>
    <th>名称</th>
    <th>所属人</th>
    <th>用例数(测试用例数X数据)</th>
    <th>最近一次执行脚本的错误用例数</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_plans.each do |test_plan| %>
  <tr>
    <td><%= test_plan.name %></td>
    <td><%if test_plan.user %><%= test_plan.user.email %><%end%></td>
    <td><%= test_plan.test_num %></td>
    <td><%= test_plan.get_error_cast_num %></td>
    <td><%if "#{current_user.id }"== "#{test_plan.user_id}"%><%= link_to '查看', test_plan %><%end%></td>
    <td><%if "#{current_user.id }"== "#{test_plan.user_id}"%><%= link_to '编辑', edit_test_plan_path(test_plan) %><%end%></td>
    <td><%if "#{current_user.id }"== "#{test_plan.user_id}"%><%= link_to '生成所有脚本', pro_test_plan_path(test_plan) %><%end%></td>
    <td><%if "#{current_user.id }"== "#{test_plan.user_id}"%><%= link_to '开始运行', excuse_test_plan_path(test_plan) %><%end%></td>
    <td><%= link_to '查看最近一次运行结果', result_test_plan_path(test_plan),:target=>"_blank" %></td>
    <td><%if "#{current_user.id }"== "#{test_plan.user_id}"%><%= link_to '删除', test_plan, method: :delete, data: { confirm: 'Are you sure?' } %><%end%></td>
  </tr>
<% end %>
</table>
 <%= will_paginate @test_plans , :params =>{:title=> params[:title],:user_id=>params[:user_id]} %>
<br />


