<p id="notice"><%= notice %></p>

<p>
  <b>名称:</b>
  <%= @test_plan.name %>
</p>

<p>
  <b>几秒后执行:</b>
  <%= @test_plan.time_after %>
</p>

<p>
  <b>几分钟执行一次:</b>
  <%= @test_plan.time_every %>
</p>

<p>
  <b>什么时候开始执行:</b>
  <%= @test_plan.time_at %>
</p>

<p>
  <b>cron时间设置:</b>
  <%= @test_plan.time_cron %>
</p>

<p>
  <b>Pd:</b>
  <%= @test_plan.pd %>
</p>

<p>
  <b>Log path:</b>
  <%= @test_plan.log_path %>
</p>

<p>
  <b>memo:</b>
  <%= @test_plan.memo %>
</p>


<%= link_to 'Edit', edit_test_plan_path(@test_plan) %> |
<%= link_to 'Back', test_plans_path %>
