<h1>Listing flow_date_types</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flow_date_types.each do |flow_date_type| %>
  <tr>
    <td><%= flow_date_type.code %></td>
    <td><%= flow_date_type.name %></td>
    <td><%= link_to 'Show', flow_date_type %></td>
    <td><% if can? :manage, flow_date_type %><%= link_to 'Edit', edit_flow_date_type_path(flow_date_type) %><%end%></td>
    <td><% if can? :manage, flow_date_type %><%= link_to 'Destroy', flow_date_type, method: :delete, data: { confirm: 'Are you sure?' } %><%end%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flow date type', new_flow_date_type_path %>
