<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @flow_date_type.code %>
</p>

<p>
  <b>Name:</b>
  <%= @flow_date_type.name %>
</p>


<%= link_to 'Edit', edit_flow_date_type_path(@flow_date_type) %> |
<%= link_to 'Back', flow_date_types_path %>
