<!DOCTYPE html>
<html>
<head>
  <title>AutoTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%if current_user%>
<p>欢迎你， <%=current_user.email%> <%= link_to '退出', destroy_user_session_path, :method=>'delete' %></p>
<%end%>
<%= link_to '测试用例管理', test_cases_path %>

<%= link_to '测试计划管理', test_plans_path %>


<% if can? :manage, FlowType %> <%= link_to '动作类型管理', flow_types_path %> <%end%>

<% if can? :manage, FlowDateType %> <%= link_to '数据类型管理', flow_date_types_path %><%end%>

<% if can? :manage, User %> <%= link_to '用户管理', users_path %><%end%>

<%= link_to '下载chrome插件', "/chrome_auto_test.rar",:title=>"下载插件后解压，然后chrome浏览器加载插件" %>


<%= yield %>

</body>
</html>
